# Environment & secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Vercel
.vercel
